$border-color: rgb(242, 241, 241);
$text-color: whitesmoke;
$background-color: linear-gradient(90deg,#485563, #29323c);
$border-radius: 10px;
$light-color: rgba($border-color, 0.85);
$box-shadow: 20px 20px 50px rgb(53, 53, 53);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $border-color;
}

body {
    background: $background-color;
    height: 100vh;
    width: 100vw;

    h1 {
        width: 100vw;
        font-size: 60px;
        margin-top: 50px;
        text-align: center;
    }

    .morseHeading {
        text-align: center;
        font-size: 40px;
        margin: 10px;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        margin: 100px auto;
        width: 90vw;
        height: 45vh;

        h2 {
            font-size: 40px;
        }
        
        .text-input {

            form {
                width: 30vw;
                height: 40vh;
                display: flex;
                flex-direction: column;
                border: 30px solid $light-color;
                padding: 10px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                background-color: rgba(111, 111, 111, 0.351);

                #toBeTranslated {
                    height: 25vh;
                    margin-bottom: 10px;
                    font-size: 20px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid $light-color;
                    padding: 5px;
                    resize: none;
                    

                    &::placeholder {
                        color: $light-color;
                        outline: none;
                    }

                    &:focus {
                        outline: 2px solid $light-color;
                    }
                }

                #submit {
                    width: 120px;
                    font-size: 18px;
                    height: 40px;
                    margin: 0 auto;
                    background-color: transparent;
                    color: border-color;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.5s ease;
                    border: 3px solid $light-color;

                    &:hover {
                        background-color: $light-color;
                        color: rgb(29, 29, 29);
                    }
                }
            }
        }

        svg {
            font-size: 8.5rem;
            align-self: center;
            position: relative;
            animation-name: leftToRight;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }

        .text-output {
            width: 25vw;
            height: 40vh;

            h2 {
            width: 40vh;
            text-align: left;       
            }

            p {
                border: 30px solid rgba($border-color, 0.85);
                height: 40vh;
                width: 30vw;
                font-size: 40px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                background-color: rgba(111, 111, 111, 0.351);
                padding: 5px;
            }
        }
    }

    footer {
        text-align: left;
        position: relative;
        top: 80px;
        left: 50px
    }
}

@keyframes leftToRight {
    0%   {left: -55px;}
    50%  {left: 55px;}
    100% {left: -55px;}
  }

@media only screen and (max-width: 768px) {
    * { 
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }

    body {
        width: 80vw;
        margin: 0px;

        h1 {
            height: 20vh;
            font-size: 50px;
        }

        .morseHeading {
            height: 28vh;
            width: 100vw;
            font-size: 32px;
        }
        
        .container {
            flex-direction: column;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            height: 100vh;

            h2 {
                text-align: center;
                font-size: 24px;
            }

            .text-input {
                
                form {
                width: 80vw;
                height: 40vh;
                margin: 0 auto;
                border: 10px solid $border-color;

                textarea {
                    width: 65vw;
                    margin: 0 auto;

                }
                }
            }
        

        svg {
            font-size: 6rem;
            align-self: center;
            animation: none !important;
            transform: rotate(90deg);
            height: 200px;
        }

        .text-output {
            width: 80vw;
            height: 40vh;
            margin-bottom: 100px;

                p {
                width: 80vw;
                height: 40vh;
                border: 10px solid $border-color;
                }
            }
        }
    }

    footer {
        margin-bottom: 40px;
    }
}