* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #dfdddd;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#485563), to(#29323c));
  background: linear-gradient(90deg, #485563, #29323c);
  height: 100vh;
  width: 100vw;
}

body h1 {
  width: 100vw;
  font-size: 60px;
  margin-top: 50px;
  text-align: center;
}

body .morseHeading {
  text-align: center;
  font-size: 40px;
  margin: 10px;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px auto;
  width: 70vw;
  height: 45vh;
}

body .container h2 {
  font-size: 40px;
}

body .container .text-input form {
  width: 25vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 30px solid rgba(223, 221, 221, 0.85);
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 20px 20px 50px #353535;
          box-shadow: 20px 20px 50px #353535;
  background-color: rgba(223, 218, 218, 0.351);
}

body .container .text-input form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(223, 221, 221, 0.85);
  padding: 5px;
}

body .container .text-input form input::-webkit-input-placeholder {
  color: rgba(223, 221, 221, 0.85);
  outline: none;
}

body .container .text-input form input:-ms-input-placeholder {
  color: rgba(223, 221, 221, 0.85);
  outline: none;
}

body .container .text-input form input::-ms-input-placeholder {
  color: rgba(223, 221, 221, 0.85);
  outline: none;
}

body .container .text-input form input::placeholder {
  color: rgba(223, 221, 221, 0.85);
  outline: none;
}

body .container .text-input form input:focus {
  outline: 2px solid rgba(223, 221, 221, 0.85);
}

body .container .text-input form #toBeTranslated {
  height: 25vh;
  margin-bottom: 10px;
  font-size: 20px;
}

body .container .text-input form #submit {
  width: 120px;
  font-size: 18px;
  height: 40px;
  margin: 0 auto;
  background-color: transparent;
  color: border-color;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 3px solid rgba(223, 221, 221, 0.85);
}

body .container .text-input form #submit:hover {
  background-color: rgba(223, 221, 221, 0.85);
  color: whitesmoke;
}

body .container svg {
  font-size: 8.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .container .text-output {
  width: 25vw;
  height: 40vh;
}

body .container .text-output h2 {
  width: 40vh;
  text-align: left;
}

body .container .text-output p {
  border: 30px solid rgba(223, 221, 221, 0.85);
  height: 40vh;
  width: 25vw;
  font-size: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 20px 20px 50px #353535;
          box-shadow: 20px 20px 50px #353535;
  background-color: rgba(223, 218, 218, 0.351);
}

@-webkit-keyframes leftToRight {
  0% {
    left: -55px;
  }
  50% {
    left: 55px;
  }
  100% {
    left: -55px;
  }
}

@keyframes leftToRight {
  0% {
    left: -55px;
  }
  50% {
    left: 55px;
  }
  100% {
    left: -55px;
  }
}

@media only screen and (max-width: 480px) {
  * {
    width: 100vw;
  }
  body .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=styles.css.map */