* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f2f1f1;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#485563), to(#29323c));
  background: linear-gradient(90deg, #485563, #29323c);
  height: 100vh;
  width: 100vw;
}

body h1 {
  width: 100vw;
  font-size: 60px;
  margin-top: 50px;
  text-align: center;
}

body .morseHeading {
  text-align: center;
  font-size: 40px;
  margin: 10px;
}

body .toggle {
  text-align: center;
  margin-top: 60px;
}

body .toggle p {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

body .toggle .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

body .toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

body .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f1f1;
  -webkit-transition: .4s;
  transition: .4s;
}

body .toggle .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: #485563d4;
  -webkit-transition: .4s;
  transition: .4s;
}

body .toggle input:checked + .slider {
  background-color: #9f9f9f;
}

body .toggle input:checked + .slider:before {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

body .toggle .slider.round {
  border-radius: 34px;
}

body .toggle .slider.round:before {
  border-radius: 50%;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 50px auto;
  width: 90vw;
  height: 45vh;
}

body .container h2 {
  font-size: 40px;
}

body .container .text-input form {
  width: 30vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 30px solid rgba(242, 241, 241, 0.85);
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 20px 20px 50px #353535;
          box-shadow: 20px 20px 50px #353535;
  background-color: rgba(111, 111, 111, 0.351);
}

body .container .text-input form #toBeTranslated {
  height: 25vh;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(242, 241, 241, 0.85);
  padding: 5px;
  resize: none;
}

body .container .text-input form #toBeTranslated::-webkit-input-placeholder {
  color: rgba(242, 241, 241, 0.85);
  outline: none;
}

body .container .text-input form #toBeTranslated:-ms-input-placeholder {
  color: rgba(242, 241, 241, 0.85);
  outline: none;
}

body .container .text-input form #toBeTranslated::-ms-input-placeholder {
  color: rgba(242, 241, 241, 0.85);
  outline: none;
}

body .container .text-input form #toBeTranslated::placeholder {
  color: rgba(242, 241, 241, 0.85);
  outline: none;
}

body .container .text-input form #toBeTranslated:focus {
  outline: 2px solid rgba(242, 241, 241, 0.85);
}

body .container .text-input form #submit {
  width: 120px;
  font-size: 18px;
  height: 40px;
  margin: 0 auto;
  background-color: transparent;
  color: border-color;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 3px solid rgba(242, 241, 241, 0.85);
}

body .container .text-input form #submit:hover {
  background-color: rgba(242, 241, 241, 0.85);
  color: #1d1d1d;
}

body .container svg {
  font-size: 8.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .container .text-output {
  width: 25vw;
  height: 40vh;
}

body .container .text-output h2 {
  width: 40vh;
  text-align: left;
}

body .container .text-output p {
  border: 30px solid rgba(242, 241, 241, 0.85);
  height: 40vh;
  width: 30vw;
  font-size: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 20px 20px 50px #353535;
          box-shadow: 20px 20px 50px #353535;
  background-color: rgba(111, 111, 111, 0.351);
  padding: 5px;
}

body footer {
  text-align: left;
  position: relative;
  top: 80px;
  left: 50px;
}

@-webkit-keyframes leftToRight {
  0% {
    left: -55px;
  }
  50% {
    left: 55px;
  }
  100% {
    left: -55px;
  }
}

@keyframes leftToRight {
  0% {
    left: -55px;
  }
  50% {
    left: 55px;
  }
  100% {
    left: -55px;
  }
}

@media only screen and (max-width: 768px) {
  * {
    width: 100vw;
    padding: 0px;
    margin: 0px;
  }
  body {
    width: 100vw;
    margin: 0px;
  }
  body h1 {
    height: 26vh;
    font-size: 50px;
  }
  body .morseHeading {
    height: 1vh;
    width: 100vw;
    font-size: 32px;
  }
  body .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
    margin-bottom: 10vh;
  }
  body .toggle p {
    width: 40vw;
    font-size: 18px;
  }
  body .toggle .slider {
    width: 40px;
  }
  body .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  body .container h2 {
    text-align: center;
    font-size: 24px;
  }
  body .container .text-input form {
    width: 80vw;
    height: 40vh;
    margin: 0 auto;
    border: 10px solid #f2f1f1;
  }
  body .container .text-input form textarea {
    width: 65vw;
    margin: 0 auto;
  }
  body .container svg {
    font-size: 6rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    height: 200px;
  }
  body .container .text-output {
    width: 80vw;
    height: 40vh;
    margin-bottom: 100px;
  }
  body .container .text-output p {
    width: 80vw;
    height: 40vh;
    border: 10px solid #f2f1f1;
  }
  footer {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */